.DS_store
checkpoints/
wandb/
ckpt_final.ckpt
__pycache__/
*.py[cod]
*$py.class
config/__pycache__
core/__pycache__
data_generator/__pycache__
dataset/__pycache__
test/__pycache__
utils/__pycache__

core/rediffuser/datasets/RNDdatasetV2/rrt_16x16_100k_H64.npz
core/rediffuser/rnd/RNDModelV2/model_rnd_rrt_16x16_100k_100e/
core/rediffuser/rnd/RNDModelV2/model_rnd_rrt_16x16_100k_300e/

trained_weights
test_results_log
test_vis
training_log
anonymous_check.sh

synthesized_raw_data
dataset/train_data_set_11210_32x32.npy
dataset/train_data_set_6257_16x16.npy
dataset/train_data_set_95792_8x8.npy
dataset/train_data_set_47905_8x8.npy
dataset/train_data_set_38345_8x8.npy
dataset/train_data_set_1053418_8x8.npy
dataset/train_data_set_97529_16x16_64h.npy
dataset/train_data_set_95035_32x32_128h.npy

dataset/test_scenarios_20000.npy
dataset/test_scenarios_20000_16x16_64h.npy
dataset/test_scenarios_30000_32x32_128h.npy
dataset/train_data_set_8000_8x8.npy
dataset/failure_case_16x16_raster_diffuser_seed0.npz
random_seed_log
vis_item


notebooks
SegMAN
kernels
*.log
*.pdf

qual_analysis
